<%= content_for :page_header do %>
  <div class="w-full flex flex-row items-center justify-between">
    <div class="flex flex-row items-center">
      <h1 class="text-2xl font-bold">Edit Token</h1>
    </div>
  </div>
<% end %>

<%= form_for @token, url: token_path(@token), method: :patch, data: { turbo: false } do |f| %>
  <div class="mt-4 grid grid-cols-2 w-[50%] gap-2 px-5">
    <label class="label">Symbol name</label>
    <%= f.text_field :symbol_name, placeholder: "BTCUSDT", class: "input" %>
    <label class="label">Volume by Percent</label>
    <%= f.text_field :volume_by_percent, placeholder: "10", class: "input" %>
    <label class="label">Volume by value</label>
    <%= f.text_field :volume_by_value, placeholder: "20", class: "input" %>

    <label class="label">Volume Type</label>
    <div class="flex flex-row items-center gap-10 ">
      <div class="flex flex-row items-center gap-2">
        <%= f.radio_button :volume_type, :percent, class: "radio cursor-pointer radio-neutral radio-sm" %>
        <%= f.label :volume_type, "Percent", class: "label cursor-pointer", value: :percent %>
      </div>
      <div class="flex flex-row items-center gap-2">
        <%= f.radio_button :volume_type, :fixed, class: "radio cursor-pointer radio-neutral radio-sm" %>
        <%= f.label :volume_type, "Fixed", class: "label cursor-pointer", value: :fixed %>
      </div>
    </div>

    <label class="label">Symbol name</label>
    <%= f.text_field :initial_balances, placeholder: "initial_balances", class: "input" %>
    <label class="label">Symbol name</label>
    <%= f.text_field :current_balances, placeholder: "current_balances", class: "input" %>

    <label class="label">Platform</label>
    <%= f.select :platform_id, options_for_select(Platform.all.pluck(:name, :id)), {}, { class: "select" } %>

    <label class="label">Enabled</label>
    <%= f.check_box :enabled, { class: "toggle" }, "true", "false" %>

  </div>

  <div class="mt-4">
    <%= f.submit "Update Token", class: "btn btn-primary" %>
  </div>
<% end %>
